body {
    margin: 0
    padding-top: 60px;
    line-height: 1.5;
    color: #111;
    background-color: #fdfdfd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    background-color: #fff
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px;
        padding: 15px 15px;
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

p {
    margin: 10px 0px 10px 5px; 
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

li {
    list-style: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
}

@media (min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width:768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }

    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width:768px) {
    body {
        margin-left: 15px;
        margin-right: 15px;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand {
    color: #444;
}

.navbar-default .navbar-nav > li > a {
    color: #444;
    font-size: 12pt;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 12pt;
    font-weight: bold;
}

.post {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.post span {
    text-align: left;
}

h1 {
    font-size: 18px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

code, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: darkblue;
    background-color: #f9f2f4;
    border-radius: 4px
}

.post h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 11px;
    line-height: 1.42857143;
    color: darkblue;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.form-group {
  font-size: 14px;
  font-weight: bold;
}

.post-content {
    margin-top: 20px;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

* {
	margin: 0;
}
html, body {
	height: 99%;
}
.page-wrap {
  min-height: 100%;
  /* should be equal to footer height */
	margin-bottom: -122px; 
        padding-top: 75px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
	height: 122px; 
}
footer {
	border-top: 1px solid #e7e7e7;
	padding: 30px;
	margin-bottom: 0;
}

footer h4,
footer p {
	color: #444;
}

footer p {
	margin-top: 15px;
	margin-bottom: 0;
}
